<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <UI>
      <Dialog Id="UserExitDlg" Width="370" Height="270" Title="Self Operating Signature Check Master Service">
        <Control Id="Description" Type="Text" X="50" Y="40" Width="300" Height="80" Text="[ProductName] setup was interrupted. Your system has not been modified. To install this program at a later time, please run the installation again." />
        <Control Id="Finish" Type="PushButton" X="170" Y="233" Width="56" Height="17" Default="yes" Cancel="yes" Text="Finish">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
      </Dialog>
    </UI>
    
    <InstallUISequence>
      <Show Dialog="UserExitDlg" OnExit="cancel" />
    </InstallUISequence>
    
    <AdminUISequence>
      <Show Dialog="UserExitDlg" OnExit="cancel" />
    </AdminUISequence>
  </Fragment>
</Wix>